<div class="container py-5 text-center">
  <div class="row row-cols-1 row-cols-md-3 g-4 card-deck">
    <div class="col" *ngFor="let customer of customer">
      <div class="card h-100">

        <div class="card-body">
          <h4 class="card-title"><strong>#: {{customer.customerId}</strong></h4>
          <p class="card-text">
            <strong>Nombre:</strong> {{customer.name}}<br>
           <strong>Apellido: </strong> {{ customer.lastName }}
           <strong>Email: </strong>  {{ customer.email }}
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
